@{
    ViewBag.Title = "Edit Charts";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

@section scripts{
    <link href="~/Content/css/libs/jquery/datatables.css" rel="stylesheet" />

    <script src="~/Content/js/libs/jquery/datatables.min.js"></script>
    <script src="~/Content/js/custom/admin-edit-charts.js"></script>
}

@section adminDashboardBody{
    <div class="col-md-12 well">
        <h2 class="text-center text-light">Charts</h2>
        <div class="row">
            <div class="col-md-12">
                <table id="tbl-charts" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Chart Name</th>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
}